body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1332px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:451px;
}
#u36 {
  position:absolute;
  left:0px;
  top:604px;
  width:1350px;
  height:451px;
}
#u37 {
  position:absolute;
  left:2px;
  top:218px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1354px;
  height:604px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:1354px;
  height:604px;
}
#u39 {
  position:absolute;
  left:2px;
  top:294px;
  width:1350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:535px;
}
#u40 {
  position:absolute;
  left:59px;
  top:69px;
  width:710px;
  height:535px;
}
#u41 {
  position:absolute;
  left:2px;
  top:260px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:39px;
}
#u42 {
  position:absolute;
  left:77px;
  top:12px;
  width:77px;
  height:39px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0066FF;
}
#u44 {
  position:absolute;
  left:86px;
  top:16px;
  width:59px;
  height:31px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0066FF;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
}
#u46 {
  position:absolute;
  left:164px;
  top:18px;
  width:77px;
  height:27px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:37px;
}
#u48 {
  position:absolute;
  left:0px;
  top:57px;
  width:1344px;
  height:37px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:1340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
}
#u50 {
  position:absolute;
  left:152px;
  top:60px;
  width:33px;
  height:24px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u52 {
  position:absolute;
  left:184px;
  top:63px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u54 {
  position:absolute;
  left:264px;
  top:63px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u56 {
  position:absolute;
  left:343px;
  top:63px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u58 {
  position:absolute;
  left:423px;
  top:63px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:510px;
}
#u60 {
  position:absolute;
  left:759px;
  top:94px;
  width:483px;
  height:510px;
}
#u61 {
  position:absolute;
  left:2px;
  top:247px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height:974px;
}
#u62 {
  position:absolute;
  left:981px;
  top:94px;
  width:2px;
  height:961px;
  color:#666666;
}
#u63 {
  position:absolute;
  left:2px;
  top:472px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:223px;
}
#u64 {
  position:absolute;
  left:985px;
  top:94px;
  width:359px;
  height:223px;
}
#u65 {
  position:absolute;
  left:2px;
  top:104px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u66 {
  position:absolute;
  left:1004px;
  top:370px;
  width:340px;
  height:650px;
  font-size:14px;
  color:#CCCCCC;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u68 {
  position:absolute;
  left:982px;
  top:335px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:145px;
}
#u70 {
  position:absolute;
  left:0px;
  top:124px;
  width:975px;
  height:145px;
}
#u71 {
  position:absolute;
  left:2px;
  top:64px;
  width:971px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:159px;
}
#u72 {
  position:absolute;
  left:0px;
  top:94px;
  width:975px;
  height:159px;
}
#u73 {
  position:absolute;
  left:2px;
  top:72px;
  width:971px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:962px;
}
#u74 {
  position:absolute;
  left:-22px;
  top:93px;
  width:167px;
  height:962px;
}
#u75 {
  position:absolute;
  left:2px;
  top:473px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:324px;
}
#u76 {
  position:absolute;
  left:129px;
  top:731px;
  width:842px;
  height:324px;
}
#u77 {
  position:absolute;
  left:2px;
  top:154px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:528px;
}
#u78 {
  position:absolute;
  left:671px;
  top:213px;
  width:304px;
  height:528px;
}
#u79 {
  position:absolute;
  left:2px;
  top:256px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:472px;
}
#u80 {
  position:absolute;
  left:117px;
  top:124px;
  width:642px;
  height:472px;
}
#u81 {
  position:absolute;
  left:2px;
  top:228px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:188px;
}
#u82 {
  position:absolute;
  left:117px;
  top:569px;
  width:610px;
  height:188px;
}
#u83 {
  position:absolute;
  left:2px;
  top:86px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:1263px;
  top:9px;
  width:78px;
  height:16px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
